include head.pug
body
  header
    h1 &#12244; ttl.glitch.me
  main
    form(action="/render")
      label Turtle URL
      input#url(type="text" name="url" value="treaty")
      input(type="submit" value="Render")

  include footer.pug
