doctype html
html(lang="en-GB")
  head
    meta(charset='utf-8')
    title= "ttl.glitch.me"
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css')
  body
    header
      h1 ttl.glitch.me
    main
      p
        form(action="/ontology")
          label Turtle URL
          br
          input(type="text" name="url" placeholder="")
          button(type="submit")= 'Submit'
    footer
      address robertbrook@fastmail.fm
