doctype html
html(lang="en-GB")
  head
    meta(charset='utf-8')
    title= "ttl.glitch.me"
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css')
  body
    h1 ttl.glitch.me
    p
      form(action="/ontology")
        label Turtle URL
        input(type="text" name="url" placeholder="")
        button(type="submit")= 'Submit'
    address robertbrook@fastmail.fm
