include head.pug
body
  header
  
  main
    
    each subjectPack in subjectPacks
      each pack in subjectPack
        p
          strong= pack.predicate.value
          | &nbsp;
          span= pack.object.value
        // article= JSON.stringify(pack)
      hr

    
        
  include footer.pug

   
