include head.pug

body
  header
  
  main
    
    each subjectPack in subjectPacks
      section
        each pack in subjectPack
          p
            span= pack.predicate.value.split('#')[1]
            br
            strong= pack.object.value
        
  include footer.pug

   
