include head.pug

body
  header
    a(href='https://ttl.glitch.me/')
      h1 &#12244; ttl.glitch.me
  main
    each subject in subjects
      li= subject.value
    
    each subjectPack in subjectPacks
      
      article
        each pack in subjectPack
        
          - var [predicateUrl, predicateFragment] = pack.predicate.value.split('#')
          
          case predicateFragment
            when 'label'
              - var myLabel = pack.object.value
            when 'comment'
              - var myComment = pack.object.value
            when 'type'
              - var myType = pack.object.value.split('#')[1]
            when 'isDefinedBy'
              - var myDefinedBy = pack.object.value
            when 'domain'
              p DOMAIN
            when 'range'
              p RANGE
                      
          p= myLabel
            i= myType
  include footer.pug

   
